extends ./layout

block body
  .w3-container.w3-center
    div.w3-card-8
      header.w3-container.w3-red
        h1 Wrong answer
      div.w3-container
        a(href=cfg.host + ':' + cfg.port)
          p= text
