extends ./layout

block body
  .w3-container.w3-center
    div.w3-card-8.w3-white
      h2#user.w3-cyan.w3-center
      span#pic
      span#quote.w3-container.w3-center
    footer.w3-container
    script(src='client.js')
