extends ./layout

block body
  .w3-container.w3-center
    div.w3-card-8
      h2.w3-center.w3-green= cfg.html.index.title
      p.w3-center.w3-white= cfg.html.index.welcome
      div.w3-container.w3-center
        a.w3-btn-floating-large.w3-center.w3-green tw
