extends ./layout

block body
  .w3-container.w3-center
    div.w3-card-8
      h2.w3-center.w3-green= cfg.html.index.title
      p.w3-center= cfg.html.index.welcome
      div.w3-container.w3-center
        a(href=cfg.host + ':' + cfg.port + '/auth')
          img(src='https://g.twimg.com/dev/sites/default/files/images_documentation/sign-in-with-twitter-gray.png')
