doctype html

html(lang='en')
  head
    title= cfg.html.layout.title
    meta(charset='utf-8')
    link(href='layout.css', rel='stylesheet')
    link(href='http://www.w3schools.com/lib/w3.css', rel='stylesheet')
  body
    block body
