doctype html

html(lang='en')
  head
    title= cfg.html.layout.title
    meta(charset='utf-8')
    link(href='layout.css', rel='stylesheet')
    link(rel='shortcut icon' href='shubble.ico' type='image/x-icon')
    link(href='http://www.w3schools.com/lib/w3.css', rel='stylesheet')
    script(src='https://cdn.socket.io/socket.io-1.4.5.js')
  body
    block body
